body {
	margin-left: 50px;
	margin-right: 50px;
	font-family: Arial, Sans;
}

img {
	border: 1px solid gray;
}

a {
	text-decoration: none;
}

#buttons {
	margin-top: 10px;
}

#interface {
	margin: 10px;
}

#unimplemented {
	display: none;
}

#bzrlog {
	display: none;
}

#logo {
	float: right;
	margin: 5px;
}
