body {
	margin-left: 50px;
	margin-right: 50px;
	font-family: Arial, Sans;
}

img {
	border: 1px solid gray;
}

a {
	text-decoration: none;
}

#buttons {
	margin-top: 10px;
}

#interface {
	margin: 10px;
}

.test {
	float: left;
	margin: 10px;
	padding: 10px;
	height: 200px;
	width: 200px;
	text-align: center;
	border: 1px solid silver;
}

#unimplemented {
	display: none;
}

#bzrlog {
	display: none;
}

#logo {
	float: right;
	margin: 5px;
}
